<p-messages [(value)]="msgs"></p-messages> 
 <p-card header="Edit Employee" subheader="Edit existing employee" [style]="" styleClass="ui-card-shadow">
    <form [formGroup]="angForm" novalidate>
      <div class="form-group">
        <label class="col-md-4">Person Name</label>
        <input type="text" class="form-control" formControlName="person_name" #person_name [(ngModel)] = "employee.person_name" />
      </div>
      <div *ngIf="angForm.controls['person_name'].invalid && (angForm.controls['person_name'].dirty || angForm.controls['person_name'].touched)" class="alert alert-danger">
        <div *ngIf="angForm.controls['person_name'].errors.required">
          Person Name is required.
        </div>
      </div>
      <div class="form-group">
        <label class="col-md-4">Person Surname </label>
        <input type="text" class="form-control" formControlName="person_surname" #person_surname [(ngModel)] = "employee.person_surname" />
      </div>
      <div *ngIf="angForm.controls['person_surname'].invalid && (angForm.controls['person_surname'].dirty || angForm.controls['person_surname'].touched)" class="alert alert-danger">
        <div *ngIf="angForm.controls['person_surname'].errors.required">
          Person Surname is required.
        </div>
      </div>

      <div class="form-group">
        <label class="col-md-4">Person Address </label>
        <input type="text" class="form-control" formControlName="person_address" #person_address [(ngModel)] = "employee.person_address" />
      </div>
      <div *ngIf="angForm.controls['person_address'].invalid && (angForm.controls['person_address'].dirty || angForm.controls['person_address'].touched)" class="alert alert-danger">
        <div *ngIf="angForm.controls['person_address'].errors.required">
          Person Address is required.
        </div>
      </div>

      <div class="form-group">
        <label class="col-md-4">Person Postal number </label>
        <input type="text" class="form-control" formControlName="person_postal_number" #person_postal_number [(ngModel)] = "employee.person_postal_number" />
      </div>
      <div *ngIf="angForm.controls['person_postal_number'].invalid && (angForm.controls['person_postal_number'].dirty || angForm.controls['person_postal_number'].touched)" class="alert alert-danger">
        <div *ngIf="angForm.controls['person_postal_number'].errors.required">
          Person Postal Number is required.
        </div>
      </div>

      <div class="form-group">
        <label class="col-md-4">Person City</label>
        <input type="text" class="form-control" formControlName="person_city" #person_city [(ngModel)] = "employee.person_city" />
      </div>
      <div *ngIf="angForm.controls['person_city'].invalid && (angForm.controls['person_city'].dirty || angForm.controls['person_city'].touched)" class="alert alert-danger">
        <div *ngIf="angForm.controls['person_city'].errors.required">
          Person City
        </div>
      </div>

      <div class="form-group">
        <button type="button" (click)="updateEmployee(person_name.value, person_surname.value, person_address.value, person_postal_number.value, person_city.value)"
        class="btn btn-primary">Update Employee</button>
        <a (click) = "showDeleteDialog()" class="btn btn-danger float-right">Delete</a>
        <!-- Dialog which is used to ask user if it's sure about employee deletion -->
          <p-dialog header="Delete Employee" [(visible)]="display" [modal]="true" [responsive]="true" [style]="{width: '350px', minWidth: '200px'}" [minY]="70" 
            [maximizable]="true" [baseZIndex]="10000">
            <span>Are you sure you want to delete this employee?</span>
            <p-footer>
                <button type="button" pButton (click)="deleteEmployee(employee._id)" label="Yes" class="ui-button-primary"></button>
                <button type="button" pButton (click)="display=false" label="No" class="ui-button-secondary"></button>
            </p-footer>
          </p-dialog>
      </div>
    </form>
  </p-card> 


