<p-table [columns]="cols" [value]="employees" [paginator]="true" 
    [rows]="10" [loading]="loading">
  <ng-template pTemplate="header" let-columns>
  <tr>
      <th *ngFor="let col of columns" [pSortableColumn]="col.field">
          {{col.header}}
          <i class="fa fa-sort"></i>
      </th>
  </tr>
  </ng-template>

  <ng-template pTemplate="body" let-rowData let-columns="columns" let-employee>
      <tr>
          <td>{{ employee.person_name }}</td>
          <td>{{ employee.person_surname }}</td>
          <td><a [routerLink]="['/edit', employee._id]" class="btn btn-primary">Edit and view more</a></td>
      </tr>
  </ng-template>
</p-table>


