<ng2-slim-loading-bar color="blue"></ng2-slim-loading-bar>

<!-- Navigation bar -->
<nav class="navbar navbar-expand-sm bg-light">
  <a class="navbar-brand" href="/">DotCom Naloga</a>
  <div class="container-fluid">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a routerLink="employee/create" class="nav-link" routerLinkActive="active">
          Add Employee
        </a>
      </li>
      <li class="nav-item">
        <a routerLink="company" class="nav-link" routerLinkActive="active">
          View Employees
        </a>
      </li> 
    </ul>
  </div>
</nav>

<div class="container mt-2">
  <router-outlet></router-outlet>
</div>

