<!--<div class="card mt-2">
  <div class="card-body">-->

    <p-card header="Add Employee" subheader="Add new employee to the mongoDB" [style]="" styleClass="ui-card-shadow">
      <div>
    <form [formGroup]="angForm" novalidate>
          <!-- Employee name -->
          <div class="form-group">
            <label class="col-md-4">Name</label>
            <input type="text" class="form-control" formControlName="person_name" #person_name />
          </div>
          <div *ngIf="angForm.controls['person_name'].invalid && (angForm.controls['person_name'].dirty || angForm.controls['person_name'].touched)" class="alert alert-danger">
            <div *ngIf="angForm.controls['person_name'].errors.required">
              Person Name is required.
            </div>
          </div>

          <!-- Employee Surname -->
          <div class="form-group">
            <label class="col-md-4">Surname </label>
            <input type="text" class="form-control" formControlName="person_surname" #person_surname />
          </div>
          <div *ngIf="angForm.controls['person_surname'].invalid && (angForm.controls['person_surname'].dirty || angForm.controls['person_surname'].touched)" class="alert alert-danger">
            <div *ngIf="angForm.controls['person_surname'].errors.required">
              Person Surname is required.
            </div>
          </div>

          <!-- Employee Address -->
          <div class="form-group">
            <label class="col-md-4">Address </label>
            <input type="text" class="form-control" formControlName="person_address" #person_address />
          </div>
          <div *ngIf="angForm.controls['person_address'].invalid && (angForm.controls['person_address'].dirty || angForm.controls['person_address'].touched)" class="alert alert-danger">
            <div *ngIf="angForm.controls['person_address'].errors.required">
              Person Address is required.
            </div>
          </div>

          <!-- Employee Postal number -->
          <div class="form-group">
            <label class="col-md-4">Postal number </label>
            <input type="number" class="form-control" formControlName="person_postal_number" #person_postal_number />
          </div>
          <div *ngIf="angForm.controls['person_postal_number'].invalid && (angForm.controls['person_postal_number'].dirty || angForm.controls['person_postal_number'].touched)" class="alert alert-danger">
            <div *ngIf="angForm.controls['person_postal_number'].errors.required">
              Person Postal number is required.
            </div>
          </div>

          <!-- Employee City -->
          <div class="form-group">
            <label class="col-md-4">City </label>
            <input type="text" class="form-control" formControlName="person_city" #person_city />
          </div>
          <div *ngIf="angForm.controls['person_city'].invalid && (angForm.controls['person_city'].dirty || angForm.controls['person_city'].touched)" class="alert alert-danger">
            <div *ngIf="angForm.controls['person_city'].errors.required">
              Person City is required.
            </div>
          </div>

          <!-- Submit form button -->
          <div class="form-group">
            <button (click)="addEmployee(person_name.value, person_surname.value, person_address.value, person_postal_number.value, person_city.value)"
                [disabled]="angForm.pristine || angForm.invalid" 
                class="btn btn-primary">
                Add Employee
            </button>
          </div>

        </form>

      </div>
    </p-card>


    
<!--</div>
</div> -->